/* Header */

header {
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 13px 50px 8px 50px;
  background-color: #000;
}

.branding {
  background:url("../images/brand.svg") no-repeat;
  width: 250px;
  height:40px;
  float: left;
  text-indent: -999em;
  margin-top: 10px;
}

.branding:hover {
  cursor: pointer;
  transform: scale(1.05); 
  transition: all .2s ease;}
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1pt;
  display: inline-block;
  margin-left: 30px;
}

nav li a:link, nav li a:visited {
  color: #091c5a;
  text-decoration:none;
}

nav li a:hover, nav li a:active {
  color: #ff6600;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top:-1px;
  transition: all .2s ease;
}



/* ---------------------------------------------------------------- */

/* Hero */


.hero-slide {
  width: 100%;
  background-color: #000;
  min-height:450px;
  max-height:900px;
  overflow: hidden;
}

.hero-txt {
    position: absolute;
    top: 70px;
    text-align: center;
    z-index: 99;
    width:940px;
}

.cta {
    position: absolute;
    font-weight: 500;
    top: 400px;
    float: center;
    text-align: center;
    z-index: 99;
    width:940px; 
    text-shadow: 3px 3px 6px #000;
    font-size: 1.2em;
    line-height: 1.6em;
}


/* ---------------------------------------------------------------- */

/* Biography */

.bio {
  width: 100%;
  padding: 150px 0;
  float: left;
  background-color: #2A2233;
  background-image: url("../images/bio.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.bio h2 {
    color: #B796FF; 
}



/* ---------------------------------------------------------------- */

/* Discography */


.discography {
  width: 100%;
  padding: 150px 0;
  float: left;
  background-color: #443D4A;
}

.discography h2 {
    color: #FFB967; 
}


.player, .player2, .player3,
.player4, .player5, .player6,
.player7, .player8, .player9,
.player10, .player11, .player12,
.player13, .player14, .player15,
.player16, .player17 {
    height: 100px;
    padding-top:15px;
    padding-bottom:60px;
}

.discography .columns_1 {
    text-align: center;
}


/* ---------------------------------------------------------------- */


/* Life */

.life {
  width: 100%;
  padding: 150px 0;
  float: left;
  background-color: #2A2233;
  background-image: url("../images/harp.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  margin-bottom:-1px;
}

.life h2 {
  color: #B796FF; 
}

.life h5 {
  margin-top:-10px;
  padding-bottom:10px;
}

.life a {
  color: #FFB967;
  text-decoration: none;
  font-style:italic; 
}

.life a:hover {
    color: #ff6600;
}

.carousel-cell {
  width: 100%;
  counter-increment: carousel-cell;
  text-align: left;
}



/* ---------------------------------------------------------------- */

/* Legacy */


.legacy {
  width: 100%;
  padding: 150px 0;
  float: left;
  background-color: #443D4A;
}

.legacy h2 {
    color: #FFB967; 
}



/* ---------------------------------------------------------------- */

/* Subscribe */


.subscribe {
  width: 100%;
  padding: 150px 0;
  float: left;
  background-color: #2A2233;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.subscribe h2 {
    color: #B796FF; 
}

.subscribe p {
    text-align: center;
}

.contact-form input[type="text"],
.contact-form textarea,
.contact-form select{
	width: 450px;
	height: 45px;
	margin: 50px 10px 70px 10px;
	padding: 5px 15px 5px 15px;
	border: 1px solid #dadada;
    border-radius: 20px;
	color: #888;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:#000;
}


.submit {
  display: inline-block;
  padding: 20px 40px;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform:uppercase;
  letter-spacing:0.1em;
  border-radius:100px;
  border: 0px;
  cursor: pointer;
  background-color:#443D4A;
  margin: 40px 0 40px 0;
  color: #ccc;}


.submit:hover, .submit a:hover, .submit a:active {
  color: #B796FF;
  text-decoration:none;
  transform: scale(1.05); 
  transition: all .2s ease;
}


.align-center {
  display: block;
  margin: 0 auto;
}

/* ---------------------------------------------------------------- */

/* Footer */


footer {
  width: 100%;
  padding: 100px 0;
  float: left;
  background-color: #000;
  background-image: url("../images/staff1.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
  color: #999;
  font-size: .8em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

footer p {
  line-height:1.2em;
}

footer a {
  color: #A78967;
  margin: 0 5px 0 5px;
}


footer a:hover {
  color: #ccc;
  cursor: pointer;
}

.icons {
  margin-right: 5%;
  margin-top: 70px;
  width: 350px;
  float: right;
}

.icons img {
    margin-right: 15px;
    width: 30px;
}

.icons img:hover {
  transform: scale(1.1);
  transition: all .2s ease;
}


/* ---------------------------------------------------------------- */

/* Rollover Gallery */


.boxgrid h4 {
  margin: 10px 10px 5px 10px;
  text-transform: uppercase;
}

.boxgrid p {
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
  font: 12pt 'Helvetica', sans-serif;
  line-height: 1.5em;
}

.boxgrid a {
  color: #FFB967;
  text-decoration: underline;
}

.boxgrid a:hover {
    color: #ff6600;
}

.boxgrid img {
    width:100%;
}

.boxgrid {
  width: 250px;
  height: 250px;
  background-color: #161613;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  margin-bottom: 12px;
}

.boxgrid:hover {
  transform: scale(1.05); 
  transition: all .2s ease;
}

.boxcaption {
  float: left;
  position: absolute;
  background-color: #000;
  height: 140px;
  width: 100%;
  opacity: .8;
} 

.captionfull .boxcaption {
  top: 260px;
  left: 0;
}

.caption .boxcaption {
  top: 220px;
  left: 0;
}



/* ---------------------------------------------------------------- */

/* Headroom */


.headroom {
  transition: transform 200ms linear;
}

.headroom--pin {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}




/* ---------------------------------------------------------------- */

/* Show more */



.panel-wrapper {
  position: relative;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform:uppercase;
  letter-spacing:0.1em;
  border-radius:100px;
  cursor: pointer;
  background-color:#2A2233;
  margin: 40px 0 40px 0;
  color: #ccc;
  left: 36%;
}

.btn:hover, .btn a:hover, .btn a:active {
  color: #FFB967;
  text-decoration:none;
  transform: scale(1.05); 
  transition: all .2s ease;}

.show, .hide {
  position: absolute;
  bottom: -1em;
  z-index: 100;
  text-align: center;
}

.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .panel {
   max-height: 2000px; 
}

.show:target ~ .fade {
  margin-top: 0;
}

.panel {
  position: relative;
  margin: 2em auto;
  max-height: 750px;
  overflow: hidden;
  transition: max-height 1.5s ease;
}

.fade {
  background: linear-gradient(to bottom, rgba(68,61,74, 0) 0%,rgba(68,61,74) 10%);
  height: 150px;
  margin-top: -150px;
  position: relative;
}




